@charset "UTF-8";
/*général*/
:root {
  font-size: 14px;
}

a {
  margin: 0;
  text-decoration: none;
}

.fa-heart {
  color: red;
}

/*font*/
.bodyfont {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

/*header*/
.header {
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__ohmyfoodimg {
  width: 162px;
  margin: 0px 78px 0px 100px;
}

.header__display {
  display: none;
  position: relative;
  left: 22px;
}

/*paris belleville bouton*/
.parismap {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 0px 0px black;
  transition: box-shadow 0.3x ease, tranform 0.3s ease;
}

.parismap--margin {
  margin-right: 16px;
}

.parismap:active {
  box-shadow: 0 0 0 black, inset 1px 4px 3px #636161;
  transform: translate(0px, 6px);
  background-color: #e6e0e0;
}

/*Réservez le menu*/
.divtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-top: 40px;
  width: 240px;
  text-align: center;
}

.title__p {
  width: 280px;
  text-align: center;
}

.sectbackground {
  background-color: #f2f2f2;
  height: 336px;
  box-sizing: border-box;
  width: auto;
  margin: 0;
  padding: 0;
}

.explorer-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.explorer-div__btn {
  width: 218px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  color: #fff;
  border-radius: 30px;
  box-shadow: 1px 4px 5px 1px #c9c5c5;
}

/*NAV*/
.navbloc {
  height: 380px;
}

.Fonctionne-text {
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 32px;
}

#iconesize {
  margin: 20px;
  margin-left: -10px;
  color: grey;
}

.iconesize {
  margin: 20px;
  margin-left: 0px;
  color: grey;
}

.blocflex {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 70px;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-right: 20px;
  box-shadow: 1px 4px 5px 1px #c9c5c5;
}

.option__numbers {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  color: white;
  border-radius: 20px;
  position: relative;
  left: 10px;
}

.option:hover {
  background-color: #f5edff;
  cursor: pointer;
}

/*restaurants/section2*/
.bloc-section-rest {
  background-color: #f2f2f2;
  box-sizing: border-box;
  padding: 20px;
}

.bloc-rest {
  position: relative;
  left: 00px;
  top: 50px;
  margin: 0;
}

.bloccentered {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 1224px;
}

.new-text {
  margin: -15px;
  height: 30px;
  width: 80px;
  background-color: #99e2d0;
  color: #008766;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50px;
  left: 110px;
}

.bloc-img {
  margin-right: 0px;
  margin-left: 0;
  height: 251px;
  width: 335px;
  border-radius: 18px;
  background-color: white;
  box-shadow: 1px 4px 5px 1px #c9c5c5;
}

.bloc-img__size {
  height: 173px;
  width: 335px;
  border-top-right-radius: 18px;
  border-top-left-radius: 20px;
  object-fit: cover;
}

.bloc-caption {
  display: flex;
  justify-content: space-between;
  padding-left: 13px;
  padding-right: 20px;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.bloc-heart-relative {
  position: relative;
  right: 22px;
}

.bloc-heart-relative {
  transform: scale(0%);
  position: relative;
  right: 22px;
  transition: transform 500ms;
}

.fa-heart:hover + .bloc-heart-relative {
  transform: scale(1);
}

/*footer*/
.bloc-footer {
  background-color: #353535;
  color: #fff;
  padding: 25px 0px 40px 20px;
  line-height: 5px;
}

.icondiv-flex {
  display: flex;
  align-items: center;
}

.icondiv-flex__marg {
  margin-right: 10px;
}

.bloc-ohmyfood {
  height: 15px;
  width: 100px;
  margin-left: -7px;
  margin-bottom: 10px;
}

.bloc-contact {
  color: #fff;
}

.menu1 {
  /*header*/
  /*img*/
  /*title*/
  /*section-menu1*/
}

.menu1 * {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.menu1 .header__display {
  display: initial;
}

.menu1 .bloc-jayimg {
  width: 374px;
  height: 300px;
  margin: -8px;
}

.menu1 h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.8rem;
}

.menu1 .bloc-sectionmenu1 {
  background-color: #f2f2f2;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 20px;
  position: relative;
  bottom: 40px;
  margin: -8px;
  margin-bottom: -40px;
}

.menu1 .bloc-palette {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu1 .titremenu_text {
  border-bottom: 3px solid #99e2d0;
  width: 40px;
  margin-top: 35px;
  margin-left: 5px;
}

.menu1 .bloc-pick {
  display: flex;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 1px 2px 5px 1px #c9c5c5;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
}

.menu1 .bloc-pick__prix {
  display: flex;
  justify-content: space-between;
  width: 345px;
  padding: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex-shrink: 1;
  flex-grow: 1;
}

.menu1 .break-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu1 .bloc-checked {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #99e2d0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  transition: 500ms;
  width: 60px;
  transition: 500ms;
  transform: translatex(60px);
  flex-shrink: 3;
}

@keyframes rota {
  from {
    transform: rotate(-120deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.menu1 .bloc-checked__rotate {
  transition: 500ms;
  animation: 1s rota infinite;
}

.menu1 .bloc-pick__prix:hover + .bloc-checked {
  transform: translatex(0px);
  flex-shrink: 0;
}

.menu1 .break-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex-shrink: 1;
  flex-grow: 1;
}

.menu1 .bloc-prices {
  display: flex;
  align-items: flex-end;
}

.menu1 .order-btn {
  width: 218px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  color: #fff;
  border-radius: 30px;
  box-shadow: 1px 4px 5px 1px #c9c5c5;
}

.menu1 .centered-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.menu1 .bloc-footer {
  margin-left: -8px;
  margin-bottom: -8px;
}
/*# sourceMappingURL=style.css.map */