/*général*/
:root {
  font-size: 14px;
}
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-four: #f2f2f2;
$color-grey: grey;
$color-pink: #f5edff;
$new-backcolor: #99e2d0;
$new-fontcolor: #008766;
$footer-color: #353535;
a {
  margin: 0;
  text-decoration: none;
}
.fa-heart{
  color: red;
}
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin displayflex {
  display: flex;
}

/*font*/
.bodyfont {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

/*header*/
.header {
  height: 61px;
  @include center;
}
.header__ohmyfoodimg {
  width: 162px;
  margin: 0px 78px 0px 100px;
}
.header__display {
  display: none;
  position: relative;
  left:10px;
}
/*paris belleville bouton*/
.parismap {
  @include displayflex;
  @include center;
  background-color: $color-four;
  box-shadow: 0px 0px 0px 0px black;
  transition: box-shadow 0.3x ease, tranform 0.3s ease;

  &--margin {
    margin-right: 16px;
  }
}

.parismap:active {
  box-shadow: 0 0 0 black, inset 1px 4px 3px rgb(99, 97, 97);
  transform: translate(0px, 6px);
  background-color: #e6e0e0;
}

/*Réservez le menu*/
.divtitle {
  @include center;
  flex-direction: column;
}
.title {
  margin-top: 40px;
  width: 240px;
  text-align: center;
  &__p {
    width: 280px;
    text-align: center;
  }
}
.sectbackground {
  background-color: $color-four;
  height: 336px;
  box-sizing: border-box;
  width: auto;
  margin: 0;
  padding: 0;
}
.explorer-div {
  @include center;
  &__btn {
    width: 218px;
    height: 50px;
    @include center;
    background-image: linear-gradient(
      to bottom right,
      $color-secondary,
      $color-primary
    );
    color: white;
    border-radius: 30px;
    box-shadow: 1px 4px 5px 1px rgb(201, 197, 197);
  }
}
/*NAV*/
.navbloc {
  height: 380px;
}
.Fonctionne-text {
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 32px;
}
#iconesize {
  margin: 20px;
  margin-left: -10px;
  color: $color-grey;
}
.iconesize {
  margin: 20px;
  margin-left: 0px;
  color: $color-grey;
}
.blocflex {
  @include displayflex;
  @include center;
  margin-top: 20px;
}
.option {
  @include center;
  width: 310px;
  height: 70px;
  background-color: $color-four;
  border-radius: 20px;
  margin-right: 20px;
  box-shadow: 1px 4px 5px 1px rgb(201, 197, 197);
}

.option__numbers {
  width: 20px;
  height: 20px;
  @include center;
  background-color: $color-primary;
  color: white;
  border-radius: 20px;
  position: relative;
  left: 10px;
}

.option:hover {
  background-color: $color-pink;
  cursor: pointer;
}

/*restaurants/section2*/

.bloc-section-rest {
  background-color: $color-four;
  box-sizing: border-box;
  padding: 20px;
}
.bloc-rest {
  position: relative;
  left: 00px;
  top: 50px;
  margin: 0;
}
.bloccentered {
  display: flex;
  @include center;
  flex-direction: column;
  height: 1224px;
}

.new-text {
  margin: -15px;
  height: 30px;
  width: 80px;
  background-color: $new-backcolor;
  color: $new-fontcolor;
  border-radius: 3px;
  @include center;
  position: relative;
  top: 50px;
  left: 110px;
}
.bloc-img {
  margin-right: 0px;
  margin-left: 0;
  height: 251px;
  width: 335px;
  border-radius: 18px;
  background-color: white;
  box-shadow: 1px 4px 5px 1px rgb(201, 197, 197);
  &__size {
    height: 173px;
    width: 335px;
    border-top-right-radius: 18px;
    border-top-left-radius: 20px;
    object-fit: cover;
  }
}

.bloc-caption {
  @include displayflex;
  justify-content: space-between;
  padding-left: 13px;
  padding-right: 20px;
  align-items: center;
}
.bold {
  font-weight: bold;
}
.bloc-heart-relative{
  position: relative;
  right: 22px;
  
}

.bloc-heart-relative {
  transform: scale(0%);
  position: relative;
  right: 22px;
  transition: transform 1s;
  
}
.fa-heart:hover + .bloc-heart-relative {
  transform: scale(1);
}

/*footer*/

.bloc-footer {
  background-color: $footer-color;
  color: #fff;
  padding: 25px 0px 40px 20px;
  line-height: 5px;
}
.icondiv-flex {
  @include displayflex;
  align-items: center;
  
  &__marg {
    margin-right: 10px;
  }
}

.bloc-ohmyfood {
  height: 15px;
  width: 100px;
  margin-left: -7px;
  margin-bottom: 10px;
}

.bloc-contact{
  color: white;
}

//////////////////////*menu1*////////////////////////////

.menu1{

  .header__display{
    display: initial;
    
  }

}