/*général*/
:root {
  font-size: 14px;
}
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-four: #f2f2f2;
$color-grey: grey;
$color-pink: #f5edff;
$color-white: #fff;
$new-backcolor: #99e2d0;
$new-fontcolor: #008766;
$footer-color: #353535;
$font-famtext: "Roboto", sans-serif;
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  outline: none;
  border: none;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin displayflex {
  display: flex;
}
@mixin purple-btn {
  width: 218px;
  height: 50px;
  @include center;
  background-image: linear-gradient(
    to bottom right,
    $color-secondary,
    $color-primary
  );
  color: $color-white;
  border-radius: 30px;
  box-shadow: 1px 4px 5px 1px rgb(201, 197, 197);
}

/*font*/
.bodyfont {
  font-family: $font-famtext;
  margin: 0;
  animation: 2s loadpage 1 forwards;
  opacity: 0;
  overflow-x: hidden;
}

/*header*/
.header {
  height: 61px;
  @include center;
}
.header__ohmyfoodimg {
  width: 162px;
  margin: 0px 78px 0px 100px;
}
.header__display {
  display: none;
  position: relative;
  left: 22px;
}
.bloc-input {
  outline: none;
  border: none;
  background-color: $color-four;
  height: 35px;
  margin-left: 10px;
}
::placeholder {
  font-weight: bold;
  color: black;
}

/*paris belleville bouton*/
.parismap {
  @include displayflex;
  @include center;
  background-color: $color-four;
  transition: box-shadow 0.3x ease, tranform 0.3s ease;
  box-shadow: 0px 0px 0px black, inset 0px 10px 10px -10px rgb(211, 207, 207),
    inset 0px -10px 10px -10px rgb(211, 207, 207);
  height: 50px;

  &--margin {
    margin-left: 38px;
  }
}

/*Réservez le menu*/
.divtitle {
  @include center;
  flex-direction: column;
}
.title {
  margin-top: 40px;
  width: 240px;
  text-align: center;
  &__p {
    width: 280px;
    text-align: center;
  }
}
.sectbackground {
  background-color: $color-four;
  height: 336px;
  box-sizing: border-box;
  width: auto;
  margin: 0;
  padding: 0;
}
.explorer-div {
  @include center;
  &__btn {
    width: 218px;
    height: 50px;
    transition: 500ms;
    @include center;
    background-image: linear-gradient(
      to bottom right,
      $color-secondary,
      $color-primary
    );
    color: $color-white;
    border-radius: 30px;
    box-shadow: 1px 4px 5px 1px rgb(201, 197, 197);
  }
  .explorer-div__btn:hover {
    transform: scale(1.2);
  }
}
/*NAV*/
.navbloc {
  height: 380px;
}
.Fonctionne-text {
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 32px;
}
#iconesize {
  margin: 20px;
  margin-left: -10px;
  color: $color-grey;
}
.iconesize {
  margin: 20px;
  margin-left: 0px;
  color: $color-grey;
}
.blocflex {
  @include displayflex;
  @include center;
  margin-top: 20px;
}
.option {
  @include center;
  width: 310px;
  height: 70px;
  background-color: $color-four;
  border-radius: 20px;
  margin-right: 20px;
  box-shadow: 1px 4px 5px 1px rgb(201, 197, 197);
}

.option__numbers {
  width: 20px;
  height: 20px;
  @include center;
  background-color: $color-primary;
  color: white;
  border-radius: 20px;
  position: relative;
  left: 10px;
}

.option:hover {
  background-color: $color-pink;
  cursor: pointer;
}

/*restaurants/section2*/

.bloc-section-rest {
  background-color: $color-four;
  box-sizing: border-box;
  padding: 20px;
}
.bloc-rest {
  position: relative;
  left: 00px;
  top: 50px;
  margin: 0;
}
.bloccentered {
  display: flex;
  @include center;
  flex-direction: column;
  height: 1224px;
}

.new-text {
  margin: -15px;
  height: 30px;
  width: 80px;
  background-color: $new-backcolor;
  color: $new-fontcolor;
  border-radius: 3px;
  @include center;
  position: relative;
  top: 50px;
  left: 110px;
}
.bloc-img {
  margin-right: 0px;
  margin-left: 0;
  height: 251px;
  width: 335px;
  border-radius: 18px;
  background-color: white;
  box-shadow: 1px 4px 5px 1px rgb(201, 197, 197);
  &__size {
    height: 173px;
    width: 335px;
    border-top-right-radius: 18px;
    border-top-left-radius: 20px;
    object-fit: cover;
  }
}

.bloc-caption {
  @include displayflex;
  justify-content: space-between;
  padding-left: 13px;
  padding-right: 20px;
  align-items: center;
}
.bold {
  font-weight: bold;
}
.bloc-heart-relative {
  position: relative;
  right: 30px;
}

.bloc-heart-relative {
  transform: scale(0);
  position: relative;
  right: 31px;
  transition: transform 500ms;
}
.fa-heart:hover + .bloc-heart-relative {
  transform: scale(100%);
}

/*footer*/

.bloc-footer {
  background-color: $footer-color;
  color: #fff;
  padding: 25px 0px 40px 20px;
  margin: 0;
  box-sizing: border-box;
  object-fit: cover;
}
.icondiv-flex {
  @include displayflex;
  align-items: center;
  width: 170px;
  &__marg {
    margin-right: 10px;
  }
}

.bloc-ohmyfood {
  height: 15px;
  width: 100px;
  margin-left: -7px;
  margin-bottom: 10px;
}

.bloc-contact {
  color: $color-white;
}
/*LOADING SPINNER*/
.sect-spin {
  position: fixed;
  @include center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: 3s nowyouseeme 1, 7s fade 1;
  transform: scale(0);
  background-color: white;
  opacity: 0;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.first-layer-spinner {
  border-left: 10px solid $color-primary;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  @include center;
  animation: 3s spinner2 linear infinite;
}

.second-layer-spinner {
  border-top: 10px solid $color-secondary;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  @include center;
  animation: 2s spinner linear infinite;
}
.third-layer-spinner {
  border-right: 10px solid $color-tertiary;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  @include center;
  animation: 3s spinner2 linear infinite;
}
.size-img-spinner {
  width: 80px;
  height: 80px;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner2 {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes nowyouseeme {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1);
  }
}

/*media querys acceuil*/

@media screen and (min-width: 400px) and (max-width: 767px) {
  .Fonctionne-text {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    @include displayflex;
    justify-content: center;
  }
  .bloc-rest {
    @include displayflex;
    justify-content: center;
    align-items: center;
    position: initial;
  }

  .bloc-footer {
    background-color: $footer-color;
    color: #fff;
    padding: 25px 0px 40px 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .bloc-rest {
    @include displayflex;
    justify-content: center;
    align-items: center;
    position: initial;
  }

  .Fonctionne-text {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    @include displayflex;
    justify-content: center;
  }

  .bloc-footer {
    background-color: $footer-color;
    color: #fff;
    padding: 25px 0px 40px 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/*media querys desktop*/

@media screen and (min-width: 1024px) {
  .navbloc {
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .flexthem {
    @include displayflex;
    justify-content: center;
    align-items: center;
  }
  .Fonctionne-text {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    @include displayflex;
    justify-content: center;
  }
  .bloc-rest {
    @include displayflex;
    justify-content: center;
    align-items: center;
    position: initial;
  }
  .bloccentered {
    display: flex;
    @include center;
    flex-direction: initial;
    flex-wrap: wrap;
    height: auto;
  }

  .bloc-img {
    margin: 20px;
    height: 251px;
    width: 335px;
    border-radius: 18px;
    background-color: white;
    box-shadow: 1px 4px 5px 1px rgb(201, 197, 197);
  }
  .new-text {
    top: 20px;
    left: 110px;
    margin: -40px;
  }
  .bloc-footer {
    background-color: $footer-color;
    color: #fff;
    padding: 25px 0px 40px 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

//////////////////////*menu1*////////////////////////////

.menu1 {
  * {
    font-family: $font-famtext;
    box-sizing: border-box;
  }

  /*header*/
  .header__display {
    display: initial;
  }
  /*figimg*/
  .figimg {
    width: 370px;
    height: 300px;
    object-fit: cover;
    @include center;
    margin: auto;
  }
  /*img*/
  .bloc-jayimg {
    width: max-content;
    height: 300px;
    box-sizing: border-box;
    overflow: hidden;
    object-fit: cover;
  }

  /*title*/
  h1 {
    font-family: "Shrikhand", cursive;
    font-size: 1.8rem;
  }
  /*section-menu1*/
  .bloc-sectionmenu1 {
    background-color: $color-four;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 5px;
    position: relative;
    bottom: 40px;
    box-sizing: border-box;
    margin-bottom: -40px;
  }

  .bloc-palette {
    @include displayflex;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 30px;
    margin-left: 5px;
  }

  .titremenu_text {
    border-bottom: 3px solid $color-tertiary;
    width: 40px;
    margin-top: 35px;
    margin-left: 5px;
  }

  .bloc-pick {
    @include displayflex;
    background-color: $color-white;
    border-radius: 15px;
    box-shadow: 1px 2px 5px 1px rgb(201, 197, 197);
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
    &__prix {
      @include displayflex;
      justify-content: space-between;
      width: 1000px;
      padding: 5px;
      padding-top: 0;
      padding-bottom: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      flex-shrink: 1;
      flex-grow: 1;
      align-items: center;
    }
  }
  input:hover + .bloc-checked__rotate {
    transform: rotate(0deg);
  }

  .break-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 0;
    line-height: 20px;
  }
  .bloc-checked {
    @include center;
    color: $color-white;
    background-color: $color-tertiary;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
    width: 60px;
    transition: 500ms;
    transform: translatex(60px);
    flex-shrink: 1;
  }

  #check1 {
    display: none;
  }
  #check2 {
    display: none;
  }
  #check3 {
    display: none;
  }
  #check4 {
    display: none;
  }
  #check5 {
    display: none;
  }
  #check6 {
    display: none;
  }
  #check7 {
    display: none;
  }
  #check8 {
    display: none;
  }
  #check9 {
    display: none;
  }
  .bloc-checked__rotate {
    transition: 1s;
    transform: rotate(-180deg);
    overflow: hidden;
  }

  .bloc-pick__prix:hover ~ .bloc-checked {
    transform: translatex(0px);
    flex-shrink: 0;
  }

  .break-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-shrink: 1;
    flex-grow: 1;
  }

  .bloc-prices {
    display: flex;
    align-items: flex-end;
    margin-left: 4px;
    padding-top: 19px;
  }
  .order-btn {
    @include purple-btn;
    transition: 500ms;
    border: none;
  }
  .order-btn:hover {
    transform: scale(1.2);
  }
  .centered-btn {
    @include center;
    margin: 40px;
  }

  /*loading menu*/

  @keyframes loadpage {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .anim-menu1 {
    animation: 5s 1s loadpage 1 forwards;
    opacity: 0;
  }
  .anim-menu2 {
    animation: 5s 2s loadpage 1 forwards;
    opacity: 0;
  }
  .anim-menu3 {
    animation: 5s 3s loadpage 1 forwards;
    opacity: 0;
  }

  /*média querys menu*/

  @media screen and (min-width: 375px) {
    .figimg {
      margin: auto;
      width: auto;
    }
    .bloc-jayimg {
      height: 300px;
    }

    .bloc-pick {
      margin: 20px;
    }
  }
}
