/*général*/
:root {
  font-size: 14px;
}
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-four: #f2f2f2;
a {
  margin: 0;
}
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin displayflex {
  display: flex;
}

/*font*/
.bodyfont {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

/*header*/
.header {
  height: 61px;
  @include center;
}
.header__ohmyfoodimg {
  width: 162px;
  margin: 0px 78px 0px 100px;
}
.header__display {
  display: none;
}
/*paris belleville bouton*/
.parismap {
  @include displayflex;
  @include center;
  background-color: $color-four;
  box-shadow: 2px 0px 0 0px black;
  transition: box-shadow 0.3x ease, tranform 0.3s ease;

  &--margin {
    margin-right: 16px;
  }
}

.parismap:active {
  box-shadow: 0 0 0 black, inset 1px 4px 3px rgb(99, 97, 97);
  transform: translate(0px, 6px);
  background-color: #e6e0e0;
}

/*Réservez le menu*/
.divtitle {
  @include center;
  flex-direction: column;
}
.title {
  margin-top: 40px;
  width: 240px;
  text-align: center;
  &__p {
    width: 280px;
    text-align: center;
  }
}
.sectbackground {
  background-color: $color-four;
}
.explorer-div {
  @include center;
  &__btn {
    width: 218px;
    height: 50px;
    @include center;
    background-image: linear-gradient(
      to bottom right,
      $color-secondary,
      $color-primary
    );
    color: white;
    border-radius: 30px;
    box-shadow: 1px 4px 5px 1px rgb(201, 197, 197);
  }
}
/*NAV*/
.Fonctionne-text {
  margin-top: 50px;
  margin-left: 20px;
}
.iconesize {
  margin: 20px;
}
.blocflex {
  @include displayflex;
  @include center;
}
.option {
  @include center;
  width: 324px;
  height: 70px;
  background-color: $color-four;
  border-radius: 20px;
  padding-right: 10px;
  box-shadow: 1px 4px 5px 1px rgb(201, 197, 197);
}

.option__numbers {
  width: 20px;
  height: 20px;
  @include center;
  background-color: $color-primary;
  color: white;
  border-radius: 20px;
  position: relative;
  left: 10px;
}
